

/*=============================General css==============================*/

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: IBMPlexSans-Bold;
    src: url(./assets/fonts/IBMPlexSans-Bold.ttf);
}
@font-face {
    font-family: IBMPlexSans;
    src: url(./assets/fonts/IBMPlexSans-Regular.ttf);
}
@font-face {
    font-family: IBMPlexSans-Medium;
    src: url(./assets/fonts/IBMPlexSans-Medium.ttf);
}
@font-face {
    font-family: IBMPlexSans-Light;
    src: url(./assets/fonts/IBMPlexSans-Light.ttf);
}
body{
    max-width: 612px;
    max-height: 792px;
    border: 0.2px solid rgb(163, 160, 160);
    justify-self: center;
    margin: auto;
}

/*=============================CSS for Intro container==============================*/

.intro{
    margin: 46px 65px 49px 16px;
    display: flex;
    max-width: 531px;
}
.intro-left{
    max-width: 342px;
}
.intro-left__name{
    font-family: IBMPlexSans-Bold;
    font-size: 44px;
    color:#222;
}
.intro-left__occupation{
    font-family: IBMPlexSans-Bold;
    font-size: 12px;
    background-image: linear-gradient(94deg, #ff26b2 0%, #851bd9 64%, #3f0fff 100%);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
    margin-bottom: 14px;
    
}
.intro-left__short-desc{
    font-family: IBMPlexSans;
    font-size: 10px;
    margin-bottom: 14px;
}

.intro-left__email{
    font-family: IBMPlexSans;
    font-size: 9px;
    color: #222;
    height: 12px;
    align-self: center;
    margin-bottom: 5px;
}

.intro-left__pic,
.desc-right__pic
{
    vertical-align: middle;
    justify-self: center;
    margin-right: 2px;
}

.intro-left__list{
    display: flex;
    list-style: none;
    margin-top: 5px;
}

.intro-left__item{
    font-size: 9;
    font-family: IBMPlexSans;
    text-decoration: underline; 
    height: 12px;
    margin-right: 28px;
}

.intro-right{
    margin-top: 16px;
    margin-left: 64px;
}

.intro-right__avatar{
    width: 125px;
    height: 125px;
    
}

/*=============================CSS for Desc container==============================*/

.desc{
    display: flex;
}

.desc-left{
    display: flex;
    flex-direction: column;
    width: 342px;
    margin: 0px 16px 99px 16px;
    
}

.desc-right{
    display: flex;
    flex-direction: column;
    width: 225px;
    margin-right: 13px;
    margin-bottom: 99px;
}

.desc__title{
    font-family: IBMPlexSans-Bold;
    font-size: 12px;
    margin-bottom: 7px;
}

.desc__time-section{
    margin-bottom: 6px;
}

.desc__period{
    font-family: IBMPlexSans-Medium;
    background-image: linear-gradient(98deg, #ff26b2 0%, #851bd9 64%, #3f0fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 9px;
    margin-bottom: 2px;
}

.desc__job{
    font-family: IBMPlexSans-Bold;
    font-size: 10px;
    gap: 3px;
    color: #999;
}

.desc__firm{
    font-family: IBMPlexSans-Light;
    font-size: 10px;
    color: #999;
}

.desc__tasks{
   font-family: IBMPlexSans;
   font-size: 9px; 
   color: #222;
}

.desc__seperator{
    width: 342px;
    height: 0.5px;
    margin: 4.5px 0 6px 0;
    background-color: #999;
    border: none;
}

.desc__occupancy{
    margin-bottom: 4px;
}

.desc__tasks--skills{
    margin-bottom: 22px;
}

.desc__seperator--right{
    width: 222px;
    height: 0.5px;
    margin: 4.5px 0 6px 0;
    background-color: #999;
    border: none;
}

.desc__title--lan{
    margin-top: 14px;
    margin-bottom: 7px;
}

.desc__title--projects{
    margin-top: 30px;
    margin-bottom: 7px;
}

.desc-right__link{
    font-family: IBMPlexSans-Bold;
    font-size: 10px;
    text-decoration: underline;
}

.desc-right__pic{
    width: 12px;
    height: 12px;
}

.desc-right__link-container{
    margin-top: 10px;
}

.desc__firm--mar{
    margin-top: 3px;
}

.desc__period--mar{
    margin-bottom: 4px;
}